storage: /mnt/backup/
exclude:
#  - /var/log/nginx

schedule:
  monthly:
    - system
  weekly:
    - home
  daily:
    - mysql
    - postgres
  managed:
    - websites
#    - special
    - cleanup # Must always be last!

#
# Указываем сроки хранения для директорий в формате strtotime
#
# monthly - первое число месяца
# weekly  - понедельник каждой недели (кроме monthly)
# daily   - каждый день (кроме monthly и weekly)
#
cleanup:
  monthly: "1 month"
  weekly:  "4 weeks"
  daily:   "7 days"

system:
  include:
    - /etc
    - /root
    - /usr/local
    - /var/log
    - /var/spool
    - /var/www
  exclude: [ ]
  packages: Debian

home:
  exclude:
    - websites

websites:
  # no excludes are supported here
  list: /home/*/websites
  preg: "#^(/home/(.*?)/websites):#"
  period_default: "weekly"
  period_override:
    h_informatika: "monthly"
    h_druidvav_.nekoweb: "monthly"
    h_druidvav_shinkansen.ru: "monthly"
    h_otaku_wiki.otaku.ru: "monthly"

#special:
#  var_www:
#    period: monthly
#    include:
#      - /var/www
#    exclude: [ ]
  
mysql:
  hostname: localhost
  username: root
  password: ##password##
  exclude:
    - information_schema

postgres:
  sh_user: postgres
  exclude:
    - postgres