storage: /mnt/backup/

schedule:
  - system
  - directory
  - subdirectory
  - database
  - cleanup # Must always be last!

#
# Указываем сроки хранения для директорий в формате strtotime
#
# monthly - первое число месяца
# weekly  - понедельник каждой недели (кроме monthly)
# daily   - каждый день (кроме monthly и weekly)
#
cleanup:
  monthly: "1 month"
  weekly:  "4 weeks"
  daily:   "7 days"

system:
  period: weekly
  packages: Debian
directory:
  system:
    period: monthly
    include:
      - /etc
      - /root
      - /usr/local
      - /var/log
      - /var/spool
      - /var/www
  var_www:
    period: monthly
    include:
      - /var/www
subdirectory:
  home:
    period: weekly
    base: /home
    exclude:
      - h_otaku
    subexclude:
      - websites
  web:
    base: /home|/websites
    period_default: weekly
    period_override:
      h_promagic: "monthly"
    subexclude_override:
      h_promagic_promagic.ru:
        - public_html/video
database:
  mysql:
    type: mysql
    period: daily
    hostname: localhost
    username: root
    password: #password#
    exclude:
      - information_schema
  postgres:
    type: postgres
    period: daily
    sh_user: postgres
    exclude:
      - postgres
