#
# ## Порядок исполнения операций
#
# Если какая-то из операций не используется, закомментируйте
# соответствующую строку.
#
schedule:
  - system
  - directory
  - subdirectory
  - database
  - cleanup # всегда должна быть в конце!
